<h2 class="content-outlet-title">{{content.title}}</h2>
<p class="content-outlet-body">{{content.body}}</p>

{{#if content.link}}
	<a href={{content.link}} class="content-outlet-link">LINK RIGHT HERE</a>
{{/if}}
